.hero-container {
  padding: 0 !important;
  margin-top: calc(-1 * var(--nav-height));
}

.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: calc(var(--nav-height) + 120px) 24px 80px;
  min-height: 500px;
  display: flex;
  align-items: center;
}

.hero h1 {
  max-width: 900px;
  margin: 0 auto;
  color: white;
  font-size: 48px;
  font-weight: 100;
  line-height: 1.15;
  text-align: left;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.hero h1 strong {
  font-weight: 500;
  display: block;
  margin-bottom: -0.1em;
}

.hero h2,
.hero h3,
.hero h4,
.hero h5,
.hero h6,
.hero p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.hero picture {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (width >= 900px) {
  .hero {
    padding: 160px 32px 120px;
    min-height: 600px;
  }

  .hero h1 {
    font-size: 64px;
  }
}

@media (width >= 1200px) {
  .hero {
    padding: 200px 48px 150px;
    min-height: 700px;
  }

  .hero h1 {
    font-size: 72px;
  }
}