.hero-award-container .hero-award-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-award {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero-award h1,
.hero-award h2,
.hero-award h3,
.hero-award h4,
.hero-award h5,
.hero-award h6,
.hero-award p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero-award.no-image * {
  color: var(--text-color);
}

.hero-award picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-award img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero-award {
    padding: 40px 32px;
  }
}